
body, html {
  height: 800px;
  margin: 0;
 }
 
 .background-main {
 background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.0)), url('../image/landing.jpg');
 height: 802px;
 width: 1300px;
 background-position: center;
 background-repeat: no-repeat;
 /* background-size: cover; */
 padding: 1px;
 margin-top: -30px;
 }


.main-button {

    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 30px; 
    margin-left: 20px;
    padding-right: 16px;
    padding-left: 16px; 
    padding-top: 10px;
    padding-bottom: 10px;
    transition: opacity 0.8s;
    margin-top: 10px;
    font-size: 40px;
    border-radius: 10px;
    font-weight: bold;


}

.main-button:hover{
  color: white;
  background-color: rgb(153, 58, 58);
  opacity: 0.9; 
  
}



.initial-text{
  margin-top: 410px;
  font-size: 54px;
  color: rgb(245, 194, 28);
  -webkit-text-stroke: 2px rgb(0, 0, 0);
  font-weight: bold;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}