.paginated{
  /* display: flex;
  flex-direction: row;
  margin: 0px; */
  color: red;
  font-weight: bold;
  margin-left: 200px;
  
}

.number{
  margin: 10px;
  padding: 10.5px;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0.6;
  color: black;
  font-weight: bold;


}

.number:focus{
  color: red;
  font-weight: bold;
  border: 1.7px solid red;
}
