
.create{
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('../image/ash.png');
  min-height: 918px;
  width: 1400px;
  background-position: left;
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* margin-left: 20px; */
  object-position: left;
  position: fixed;
}

.title-create{
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  margin-top: 12px;
  color: rgb(235, 181, 3);
  -webkit-text-stroke: 1px rgb(0, 60, 255);
  font-family: arial; 
  margin-right: 73px;
  margin-bottom: 12px;

}

.form{
  border: 3px solid black;
  width: 800px;
  min-height: 450px;
  margin-left : 485px;
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('../image/beautiful-image.png');
  border-radius: 10px;
  background-size: 1000px;
  
}

.name-img{
  margin-top: 29px;
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: space-around;
  margin-bottom: 50px;
}

.block1{
  display: grid;
  grid-template-columns: 50% 50%;
  
}
.block2{
  display: grid;
  grid-template-columns: 50% 50%;
  
}
.errors1{
  margin-bottom: 5px;
  display: grid;
  margin-left: 370px;
  grid-template-columns: 50% 50%;
  margin-top: 0px;

}
.errors2{
  display: grid;
  margin-left: 370px;
  grid-template-columns: 50% 50%;
  margin-top: 0px;

}
.range{

  display: grid;
  margin-bottom: 40px; 
  margin-top: 25px; 
}

.inputs{
  width: 200px;
}
 

.back1{
  margin-top: 15px;
  color: white;
  background-color: rgb(189, 22, 22);
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid black;
  font-size: 20px;
  
}



.name-form{
  margin-bottom: 40px;
}

.height-1{
  margin-bottom: 40px;
  
}

.select1{
  margin-bottom: 40px;
}

.error {
  color: red;
  margin: 4px;
  font-size: 14px;
}
.error1{
  color: red;
  margin-left: -100px;
  font-size: 14px;

}
.submit:required{
  color: red;
}


.margin-text{
  margin-right: 3px;
  color: rgb(73, 73, 73);
  font-weight: bold;
}

.margin-text1{
  color: rgb(73, 73, 73);
  margin-left: -110px;
  font-weight: bold;

}
.descript-create{
  color: rgb(73, 73, 73);
  font-size: 25px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;

}

