.alldetail{
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 800px;
  
}


.detail1{
background-color: rgb(167, 35, 35);
color: white;
font-family: 'Courier New', Courier, monospace;
border-right: 12px solid black;

}

.img-detail{
  padding-top: 20px;
  width: 340px;
  height: 340px;
}


.pokemond1{
  margin-top: 45px;
}

.pokemond2{
  display: inline-block;
  margin-top: 25px;
  font-size: 20px;
  margin-left: 180px;
  font-family: 'Courier New', Courier, monospace;
}

.button-detail{
  color: white;
  background-color: rgb(108, 108, 158);
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 25px;
  border: 2px solid black;
  margin-top: 80px;
 
}

.title2-det{
  margin-top: 40px;
}

#load-detail{
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 3px rgb(0, 0, 0);
  font-family: arial;
  margin-top: 150px;
}